<p>
  user works!
</p>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
      <tr>
        <th>User</th>
        <th colspan="3">Performance type A</th>
        <th colspan="3">Performance type B</th>
      </tr>
      <tr>
        <th>User</th>
        <th>X</th>
        <th>Y</th>
        <th>Z</th>
        <th>A</th>
        <th>B</th>
        <th>C</th>
      </tr>
      <tr>
        <td><input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter user's name"></td>
        <td><input type="radio" name="performanceA" value="x"></td>
        <td><input type="radio" name="performanceA" value="y"></td>
        <td><input type="radio" name="performanceA" value="z"></td>
        <td><input type="checkbox" value="a"></td>
        <td><input type="checkbox" value="b"></td>
        <td><input type="checkbox" value="c"></td>
      </tr>
    </table>
  </div>
