<p>
  user works!
</p>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
      <tr>
        <th>User</th>
        <th colspan="3">Performance type A</th>
        <th colspan="3">Performance type B</th>
      </tr>
      <tr>
        <th>User</th>
        <th>X</th>
        <th>Y</th>
        <th>Z</th>
        <th>A</th>
        <th>B</th>
        <th>C</th>
      </tr>
      <tr *ngFor="let user of users$ | async">
        <td><input type="text" class="form-control" [value]="user.user.name" placeholder="Enter user's name"></td>
        <td><input type="radio" name="performanceA+{{user.user.name}}" value="x" [checked]="user.perdormanceA[0].name === '1'"></td>
        <td><input type="radio" name="performanceA+{{user.user.name}}" value="y" [checked]="user.perdormanceA[1].name === '1'"></td>
        <td><input type="radio" name="performanceA+{{user.user.name}}" value="z" [checked]="user.perdormanceA[2].name === '1'"></td>
        <td><input type="checkbox" value="a" [checked]="user.perdormanceB[0].name === '1'"></td>
        <td><input type="checkbox" value="b" [checked]="user.perdormanceB[1].name === '1'"></td>
        <td><input type="checkbox" value="c" [checked]="user.perdormanceB[2].name === '1'"></td>
      </tr>
    </table>
  </div>
